* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    min-height: 100%;
}

body{
    margin: 0;
}

.Backgroud {
    background: linear-gradient(215deg, rgba(145, 210, 254, 0.1), rgb(14, 115, 217));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-image: url('../image/background.jpg');
    height: 300px;
    width: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}